<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <style media="screen">
    main {
      max-width: 960px;
      margin: 0 auto;
    }
  </style>
</head>

<body>
  <main>
    <h1>Xpress Kit Social Login</h1>
    <p>Log in with</p>
    <ul>
      <li><a href="/auth/login/facebook">facebook</a></li>
      <li><a href="/auth/login/google">google</a></li>
      <li><a href="/auth/login/github">github</a></li>
    </ul>
  </main>
</body>

</html>
